clipboard
[{"id":"ba86b923.6cf9f","type":"inject","z":"75aa8db4.0ff1f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97,"y":32,"wires":[["2b51041a.cb856c"]]},{"id":"2cdf09a0.f68dde","type":"change","z":"75aa8db4.0ff1f4","name":"Set Global Var Names (16 rules)","rules":[{"t":"move","p":"payload[0].B","pt":"msg","to":"B","tot":"global"},{"t":"move","p":"payload[0].C","pt":"msg","to":"C","tot":"global"},{"t":"move","p":"payload[0].D","pt":"msg","to":"D","tot":"global"},{"t":"move","p":"payload[0].E","pt":"msg","to":"E","tot":"global"},{"t":"move","p":"payload[0].F","pt":"msg","to":"F","tot":"global"},{"t":"move","p":"payload[0].G","pt":"msg","to":"G","tot":"global"},{"t":"move","p":"payload[0].H","pt":"msg","to":"H","tot":"global"},{"t":"move","p":"payload[0].I","pt":"msg","to":"I","tot":"global"},{"t":"move","p":"payload[0].J","pt":"msg","to":"J","tot":"global"},{"t":"move","p":"payload[0].K","pt":"msg","to":"K","tot":"global"},{"t":"move","p":"payload[0].L","pt":"msg","to":"L","tot":"global"},{"t":"move","p":"payload[0].M","pt":"msg","to":"M","tot":"global"},{"t":"move","p":"payload[0].N","pt":"msg","to":"N","tot":"global"},{"t":"move","p":"payload[0].O","pt":"msg","to":"O","tot":"global"},{"t":"move","p":"payload[0].P","pt":"msg","to":"P","tot":"global"},{"t":"move","p":"payload[0].Q","pt":"msg","to":"Q","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":177.63894653320312,"y":217.63897705078125,"wires":[["457c648.ed6039c"]]},{"id":"457c648.ed6039c","type":"split","z":"75aa8db4.0ff1f4","name":"","splt":"\\n","x":396.66650390625,"y":218.33331298828125,"wires":[["3d0b2fc8.2d88c"]]},{"id":"3d0b2fc8.2d88c","type":"function","z":"75aa8db4.0ff1f4","name":"","func":"if (isNaN(msg.payload.B)){\n    msg.payload.B = 0;\n}\nif (isNaN(msg.payload.C)){\n    msg.payload.C = 0;\n}\nif (isNaN(msg.payload.D)){\n    msg.payload.D = 0;\n}\nif (isNaN(msg.payload.E)){\n    msg.payload.E = 0;\n}\nif (isNaN(msg.payload.F)){\n    msg.payload.F = 0;\n}\nif (isNaN(msg.payload.G)){\n    msg.payload.G = 0;\n}\nif (isNaN(msg.payload.H)){\n    msg.payload.H = 0;\n}\nif (isNaN(msg.payload.I)){\n    msg.payload.I = 0;\n}\nif (isNaN(msg.payload.J)){\n    msg.payload.J = 0;\n}\nif (isNaN(msg.payload.K)){\n    msg.payload.K = 0;\n}\nif (isNaN(msg.payload.L)){\n    msg.payload.L = 0;\n}\nif (isNaN(msg.payload.M)){\n    msg.payload.M = 0;\n}\nif (isNaN(msg.payload.N)){\n    msg.payload.N = 0;\n}\nif (isNaN(msg.payload.O)){\n    msg.payload.O = 0;\n}\nif (isNaN(msg.payload.P)){\n    msg.payload.P = 0;\n}\nif (isNaN(msg.payload.Q)){\n    msg.payload.Q = 0;\n}\n\n//msg.topic = context.global.B;\n//msg.payload = context.global.B+\":\"+msg.payload.B;\n//msg.nodegroup = 10;\n//msg.time = msg.payload.B;\n\n//var apiKey = \"7e4dea48b73b722ea3a84ed6a04c40a7\";\n\nmsg.url = \"https://utilitydrive.dynu.com/input/post.json?\";\nmsg.url += \"time=\";\nmsg.url += msg.payload.A;\nmsg.url += \"&node=10\";\nmsg.url += \"&csv=\"\n//msg.url += \"&json={\";\n//msg.url += context.global.E;\n//msg.url += \":\";\nmsg.url += msg.payload.B;\nmsg.url += \",\";\nmsg.url += msg.payload.C;\nmsg.url += \",\";\nmsg.url += msg.payload.D;\nmsg.url += \",\";\nmsg.url += msg.payload.E;\nmsg.url += \",\";\nmsg.url += msg.payload.F;\nmsg.url += \",\";\nmsg.url += msg.payload.G;\nmsg.url += \",\";\nmsg.url += msg.payload.H;\nmsg.url += \",\";\nmsg.url += msg.payload.I;\nmsg.url += \",\";\nmsg.url += msg.payload.J;\nmsg.url += \",\";\nmsg.url += msg.payload.K;\nmsg.url += \",\";\nmsg.url += msg.payload.L;\nmsg.url += \",\";\nmsg.url += msg.payload.M;\nmsg.url += \",\";\nmsg.url += msg.payload.N;\nmsg.url += \",\";\nmsg.url += msg.payload.O;\nmsg.url += \",\";\nmsg.url += msg.payload.P;\nmsg.url += \",\";\nmsg.url += msg.payload.Q;\n//msg.url += \"}\";\nmsg.url += \"&apikey=\";\n//msg.url += \"3c40a15aecadcb5b1d8ed9a8bfec263f\";\nmsg.url += \"7e4dea48b73b722ea3a84ed6a04c40a7\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":488.9998779296875,"y":79.6666488647461,"wires":[["529be894.eaebf","3ebf07e9.eb4c38"]]},{"id":"2652da5.eec85a6","type":"debug","z":"75aa8db4.0ff1f4","name":"","active":false,"console":"false","complete":"payload","x":699.9999389648438,"y":434.66668701171875,"wires":[]},{"id":"f4170ad4.3b288","type":"http request","z":"75aa8db4.0ff1f4","name":"","method":"use","ret":"txt","url":"","tls":"","x":516.6666259765625,"y":436.6667175292969,"wires":[["2652da5.eec85a6"]]},{"id":"529be894.eaebf","type":"debug","z":"75aa8db4.0ff1f4","name":"","active":false,"console":"false","complete":"url","x":631.6666259765625,"y":43.333335876464844,"wires":[]},{"id":"3ebf07e9.eb4c38","type":"json","z":"75aa8db4.0ff1f4","name":"","x":645,"y":223.33334350585938,"wires":[["f4170ad4.3b288"]]},{"id":"2b51041a.cb856c","type":"ala-file","z":"75aa8db4.0ff1f4","name":"10_2016","filename":"/home/smart/RENAULT/15_MIN_CVP_11_2016.xls","format":"xls","columns":"","headers":false,"x":234.99996948242188,"y":98.33332061767578,"wires":[["2cdf09a0.f68dde"]]}]
